.left {
	height: 100vh;
	background: #f1f1f1;
	box-shadow: 0 0 10px 3px #bbb;
	z-index: 20;
	overflow-y: scroll;
}
@media screen and (max-width: 991px) {
	.left {
		display: none;
	}
	.ad-side-btn {
		display: block!Important;
	}
	.ad-close {
		display: block!Important;
	}
}
@media screen and (min-width: 992px) {
	.left {
		display: block!Important;
	}
	.ad-side-btn {
		display: none!Important;
	}
	.ad-close {
		display: none!Important;
	}
	#main {
		display: block!Important;
	}
	#content {
		display: block!Important;
	}
}
#main {
	height: 20vh;
	z-index: 19;
	box-shadow: 0 0 10px 3px #bbb;
	background: #f1f1f2;
}
.ad-side-btn {
	display: none;
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	background: #f1f1f2;
	float: right;
}
.image {
	width: 5vw;
	height: 5vw;
}
.ad-close {
	display: none;
	font-size: 50px;
}
.ad-list {
	margin-top: 10px;
	width: 90%;
}
.ad-h1 {
	font-size: 3vw;
}
.ad-bd {
	border: 2px solid #bbb;
	border-radius: 4px;
}
.ad-mg-tp {
	margin-top: 10px;
}
.ad-pd {
	padding: 15px;
}