.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}
.comment {
	margin-bottom: 45px;
}
.author-name {
	float: left;
	margin-left: 15px;
}
.author-name > h4 {
	margin: 5px 0;
}
.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}
.author-time {
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}
.comment-title {
	margin-bottom: 45px;
}
.comment-title > span {
	margin-right: 15px;
}